env:
  name: dev

server:
  port: 9003

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:9000/eureka

spring:
  application:
    name: CapitalPoolMailServer
  mail:
    host: smtp.163.com #发送邮件服务器
    username: qiao_jiyuan@163.com #发送邮件的邮箱地址
    password: OJMPSMNQEIUJESUC #客户端授权码
    properties.mail.smtp.port: 994 #465或者994
    from: qiao_jiyuan@163.com # 发送邮件的地址，和上面username一致
    properties.mail.smtp.starttls.enable: true
    properties.mail.smtp.starttls.required: true
    properties.mail.smtp.ssl.enable: true
    default-encoding: utf-8

logging:
  level:
    root: debug



