env:
  name: dev

server:
  port: 9002
spring:
  application:
    name: CapitalPoolSsoServer

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:9000/eureka

logging:
  level:
    root: debug
