env:
  name: dev

server:
  port: 9004

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:9000/eureka

spring:
  application:
      name: CapitalPoolUserServer
  datasource:
    username: root
    password: Ihq8513.2
    url: jdbc:mysql://192.168.3.34:3306/user_auth?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC
    driver-class-name: com.mysql.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapping/*Mapper.xml
  type-aliases-package: com.ihq.capitalpool.userserver.Entity
  configuration:
      map-underscore-to-camel-case: true

logging:
  level:
    root: debug
    com:
      ihq:
        capitalpool:
          userserver:
            Mapper: debug

user_active_millisecond: 600000 # 10min




