<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ihq.capitalpool.userserver.Mapper.UserMapper">
    <insert id="addUser" parameterType="com.ihq.capitalpool.userserver.Entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user_auth.user(username, name, email, phone, password) values (#{email}, #{name}, #{email}, #{phone}, #{password});
    </insert>

    <update id="updateUserStatus">
        update user_auth.user set status = 1 where id = #{id} and status = 0;
    </update>
</mapper>